*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    background: #e8e8e8;
    font-family: 'Open Sans', sans-serif;
}
.menu{
    list-style: none;
    background: #9FD5D1;
    font-family: 'calibri';
    width: 90%;
    max-width: 1100px;
    margin:0.50em auto;
    margin-top:20px; 
    margin-bottom: 25px;
}

.menu li a{
    color: white;
    padding: 20px;
    display: block;
    text-decoration: none;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a:hover{
    background: #84A3FB;
}

.img_adopcion{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.img_adopcion .adopcion-item{
    width: 22%;
    margin-left: 3%;    
    margin-top: 25px;    
}

.wrap{
    max-width: 1100px;
    width: 90%;
    margin: auto; 
}
.img_adopcion .adopcion-item a{
    display: block;
    width: 83%;
    padding: 8px 0;
    
        
    
    text-align: center;
    text-decoration: none;
}