{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head %}
    <link rel="stylesheet" href="../static/css/contactsStyle.css">
    <title>Contactos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

<!-- Bloque de Contenido de Templates -->
{% block content %}
    <!-- Form -->
    <div class="titulo">
    <h2>Contactanos a traves de este formulario</h2>
    </div>
    <div class="todo">
      <img id="imagencontactos" src="../static/img/Contactanos123.gif" class="img-fluid" alt="...">
    </div>
    <div class="recuadrocontactos">
    <form action="" method="post">
      {% csrf_token %}

<div class="mb-3">
  {{ form.names | as_crispy_field }}
</div>
<div class="mb-3">
{{ form.email | as_crispy_field }}
</div>
<div class="mb-3">
{{ form.number | as_crispy_field }}
</div>
<div class="mb-3">
  {{ form.issue | as_crispy_field}}
</div>
{% if messages %}
  {% for msg in messages %}
  <div class="alert alert-success">
    <strong>{{ msg }}</strong>
  </div>
  {% endfor %}
{% endif %}
<button type="submit" id="boton" class="btn btn-primary">Enviar</button>

</div>
</form>
</div>
        <!-- <div class="foot">
            <div class="redes">
                <span class="iconos" id="twitter"><a href="#"></a><i class="fab fa-twitter-square"></i></a></span>
                <span class="iconos" id="facebook"><a href="#"></a><i class="fab fa-facebook"></i></a></span>
                <span class="iconos" id="instagram"><a href="#"></a><i class="fab fa-instagram"></i></a></span>
            </div>
        </div> -->
{% endblock %}
