{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="../static/css/aboutUsStyle.css">
    <title>Nosotros</title>
{% endblock %}

{% block content %}

    <div class="capa">
            <!-- <img id="foto2" src="../static/img/perronosotros.jpg" height="500px" width="600px" alt="img"></img> -->
            <img id="foto1" src="../static/img/Te espera con mucho amor.gif" height="500px" width="600px" alt="img"></img>
            <img id="foto3" src="../static/img/foto horizontal.png" height="280px" width="1200px" alt="img"></img>
    <div class="parrafo">
            <p>Intentamos mejorar la vida de los animales que están en situación de maltrato y/o abandono. Aliviar su sufrimiento y darles un lugar importante en nuestra sociedad.
En Animalove nos dedicamos a rescatar, dar tratamiento veterinario y terapia de amor, para así resocializar perritos y gaticos que vienen de situaciones dolorosas, tristes y merecen las mejores cosas de la vida.
Una vez están físicamente al 100% y emocionalmente estables, buscamos para cada uno de ellos, hogares responsables, amorosos y que se ajusten a sus necesidades.
</p>
</div>
</div>

{% endblock %}
