{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="../static/css/adoptStyle.css">
{% endblock %}


{% block header %}
<header class="text-header alin-item-center" id="banner">
    <div class="container" id="container1">
        <div class="row">
            <div class="col">
                <div style="margin-top: 35px;">
                    <h1 class="borde"><strong class="cur">Webanimal</strong><br>Dale una segunda oportunidad a ellos</h1>
                        <p id="parrafo1">Nuestros amiguitos estan a la espera de una familia y son entregados en optimas condiciones de salud y belleza</p>
                </div>
            </div>
        </div>
        <!-- <div class="row" style="margin-left: 450px;">
            <div id="boton">
                <div class="col">
                    <div class="button_section"><a class="main_bt" href="#">Donar con PayU</a></div>
                </div>
            </div>
            <div id="boton">
                <div class="col">
                    <div class="button_section"><a class="main_bt" href="https://www.paypal.com/donate/?hosted_button_id=VC3URRVHB7EYU">Donar con Paypal</a></div>
                </div>
            </div>
        </div> -->
</header>

{% endblock %}

{%block content%}
    <div class="row">
        {% for object in pets_list %}
            <div class="col-3 mt-5">
            {% include 'pets/snippets/pets.html' with pets=object %}
            </div>
        {% endfor %}
    </div>
    <script src="slideradopcion.js"></script>
{%endblock%}
