{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="../static/css/adoptStyle.css">
{% endblock %}


{% block header %}
<div class="container-slider">
  <div class="slider" id="slider">
    <div class="slider__section"><img src="../static/img/image1.jpg" alt="" class="slider__img"></div>
    <div class="slider__section"><img src="../static/img/image2.jpg" alt="" class="slider__img"></div>
    <div class="slider__section"><img src="../static/img/image3.jpg" alt="" class="slider__img"></div>
    <div class="slider__section"><img src="../static/img/image4.jpg" alt="" class="slider__img"></div>
  </div>
  <div class="slider__btn slider__btn--right">&#60;</div>
  <div class="slider__btn slider__btn--left">&#62;</div>
</div>

{% endblock %}

{%block content%}
    <div class="row">
        {% for object in pets_list %}
            <div class="col-3 mt-5">
            {% include 'pets/snippets/pets.html' with pets=object %}
            </div>
        {% endfor %}
    </div>
    <script src="slideradopcion.js"></script>
{%endblock%}
