{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="../static/css/contactsStyle.css">
    <title>Contactos</title>
{% endblock %}

<!-- Bloque de Contenido de Templates -->
{% block content %}
    <!-- Form -->
        <form class="form-register">
            {% csrf_token %}
            <h1>Contáctanos</h1>
            <input class="controls1" type="text" name="nombre" id= "nombre" placeholder="Nombre completo">
            <input class="controls2" type="email" name="correo" id= "correo" placeholder="ingrese su correo electronico">
            <input class="controls3" type="text" name="asunto" id= "asunto" placeholder="asunto del que va a tratar" >
            <input class="controls4" type="tel" name="telefono" id= "telefono" placeholder="telefono">
            <input class="controles" type="text" name="mensaje" placeholder="mensaje...">
            <input class="botons" type="submit" value="enviar">
            <p class="texto">Tambien nos puedes contactar por:</p>
            <p class="texto"><span class="iconos2" id="telefono"><i class="fas fa-phone-square-alt"></i></span>Tel:320376742</p>
            <p class="texto"><span class="iconos2" id="email"><i class="fas fa-envelope-square"></i></span>E-mail:webanimal3152@gmail.com</p>
        </form>
        <!-- <div class="foot">
            <div class="redes">
                <span class="iconos" id="twitter"><a href="#"></a><i class="fab fa-twitter-square"></i></a></span>
                <span class="iconos" id="facebook"><a href="#"></a><i class="fab fa-facebook"></i></a></span>
                <span class="iconos" id="instagram"><a href="#"></a><i class="fab fa-instagram"></i></a></span>
            </div>
        </div> -->
{% endblock %}