

{% block head %}
  <link rel="stylesheet" href="../static/css/footerStyle.css">
{% endblock %}


    <footer>

        <div class="container_footer py-5">
            <div class="box_footer">
                <div class="logo">
                    <img src="../static/img/logo.png" height="250px" width="180px" alt="">
                </div>
                <div class="terms">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque mollitia cupiditate, eum ipsa aut quibusdam sunt nemo labore excepturi id rem culpa possimus accusamus a ut molestias sit, dolores tempore.</p>
                </div>
            </div>

            <div class="terms">
                <h2>Adopta</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>

            <div class="terms">
                <h2>Noticias</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>

            <div class="box_footer">
                <h2>Redes sociales</h2>
                <a href="https://www.facebook.com/fundaciongranjademascotas" id="Facebook"><i class="fab fa-facebook"></i> Facebook </a>
                <a href="#" id="Instagram"><i class="fab fa-instagram"></i> Instagram</a>
                <a href="#" id="Twitter"><i class="fab fa-twitter"></i> Twitter</a>
            </div>
        </div>

        <div class="box_copyright">
            <hr>
            <p>Todos los derechos reservados © 2022
            <b>Webanimal</b></p>
        </div>
    </footer>
