<footer class="bg-dark text-white py-4" style="font-family:Calibri; font-size: 20px;">
    <div class="container">
        <div class="row">
            <!-- Logo -->
            <a href="#" class="col-3 text-reset text-uppercase d-flex align-items-center">
                <img src="../static/img/logo.png" alt="Logo" class="img-logo" style="width: 100px; height: 115px; margin-right: 20px;">
                Webanimal
            </a>
            <!-- menú -->
            <ul class="col-3 list-unstyled">
                <li class="font-weight-bold text-uppercase">Recursos</li>
                <li><a href="#" class="text-reset"></a>Link 1</li>
                <li><a href="#" class="text-reset"></a>Link 2</li>
                <li><a href="#" class="text-reset"></a>Link 3</li>
            </ul>
            <!-- Social Networks -->
            <ul class="col-3 list-unstyled">
                <li class="font-weight-bold text-uppercase">Redes Sociales</li>
                <li class="d-flex justify-content-between">
                    <!-- Facebook -->
                    <a href="#" class="text-reset">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <!-- Insta -->
                    <a href="#" class="text-reset">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <!-- Twitter -->
                    <a href="#" class="text-reset">
                        <i class="fab fa-twitter-square"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</footer>