{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="../static/css/donationStyle.css">
    <title>Inicio</title>
{% endblock %}

{% block header %}
<header class="text-header alin-item-center" id="banner">
    <div class="container" id="container1">
        <div class="row">
            <div class="col">
                <div style="margin-top: 35px;">
                    <h1 class="borde"><strong class="cur">Donaciones</strong><br>Ayuda a Nuestros Peluditos</h1>
                        <p id="parrafo1">🐶 Nuestros medios oficiales de donacion 🐶<br>✔ Cuenta de Banco No. 9999999<br>✔ Daviplata No. 99999999<br>✔ Nequi No. 99999999</p>
                </div>
            </div>
        </div>
        <div class="row" style="margin-left: 450px;">
            <div id="boton">
                <div class="col">
                    <div class="button_section"><a class="main_bt" href="#">Donar con PayU</a></div>
                </div>
            </div>
            <div id="boton">
                <div class="col">
                    <div class="button_section"><a class="main_bt" href="https://www.paypal.com/donate/?hosted_button_id=VC3URRVHB7EYU">Donar con Paypal</a></div>
                </div>
            </div>
        </div>
</header>
{% endblock %}

{% block section %}
<div id="about" class="about layout_padding" style="background-image: url('../static/img/bannerBlanco.jpg'); background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="" src="../static/img/snausher.jpg" alt="#" style="width:60%; height:60%; margin-left:80px; margin-top:90px;"/>
                </div>
                <div class="col-md-6">
                    <div class="heading"  style="margin-top:40px; margin-left:55px;">
                        <h2>Ayúdanos</h2>
                    </div>
                    <div class="full">
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="heading"  style="margin-top:40px; margin-left:55px;">
                        <h2>¿Por qué adoptar una mascota con nostros?</h2>
                    </div>
                    <div class="full">
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img class="" src="../static/img/perroGato.png" alt="#" style="width:50%; height:70%; margin-left:80px; margin-top:90px; transform: rotate(-10deg);"/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div id="donar" style="background-color: grey;">
    <div class="container" style="margin-top:40px; align-items: center;">
        <h2>Donar</h2>
        <div class="row">
            <div class="col">
                <a href="https://biz.payulatam.com/L0ec44d0A8C58A9">
                <p><img class="rounded float-start mx-4" href="#" src="../static/img/dosPerros.png" alt="#" style="width:45%; height:80%;"/>Donar 20,000COP</p>

                </a>

            </div>
            <div class="col">
                <a href="https://biz.payulatam.com/L0ec44d38D84D50">
                <img class="rounded mx-4 d-block" href="#" src="../static/img/gatoGris.png" alt="#" style="width:45%; height:80%;"/>
                <p>Donar 50,000COP</p>
                </a>
            </div>
            <div class="col">
                <a href="https://biz.payulatam.com/L0ec44d9068AE97">
                <img class="rounded float-end mx-4" href="#" src="../static/img/huskys.png" alt="#" style="width:45%; height:80%;"/>
                <p>Donar 100,000COP</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="https://biz.payulatam.com/L0ec44d11C00FAC">
                <img class="" href="#" src="../static/img/niñaConejos.png" alt="#" style="width:45%; height:80%;"/>
                <p>Donar 300,000COP</p>
                </a>
            </div>
            <div class="col">
                <a href="https://biz.payulatam.com/L0ec44d9F4175D3">
                <img class="" href="#" src="../static/img/perroNegro.png" alt="#" style="width:45%; height:80%;"/>
                <p>Donar 800,000COP</p>
                </a>
            </div>
            <div class="col">
                <a href="https://biz.payulatam.com/L0ec44d3D71F48F">
                <img class="" href="#" src="../static/img/niñoConejo.png" alt="#" style="width:45%; height:80%;"/>
                <p>Donar 1'000,000COP</p>
                </a>
            </div>
        </div>
    </div>
    <h4 style="text-align: center; margin-top: 50px;">Donar con PayPal</h4>
        <form action="https://www.paypal.com/donate" method="post" target="_top" style="text-align: center; margin-bottom: 50px;">
            <input type="hidden" name="hosted_button_id" value="VC3URRVHB7EYU" />
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" border="0" src="https://www.paypal.com/en_CO/i/scr/pixel.gif" width="1" height="1" />
        </form>
</div>




{% endblock %}
