{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="../static/css/donationStyle.css">
    <title>Inicio</title>
{% endblock %}

{% block header %}
<header class="text-header alin-item-center" id="banner">
    <div class="container">
        <div class="row">
            <div class="col">
                <div style="margin-top: 35px;">
                    <h1><strong class="cur">Donaciones</strong><br>Ayuda a Nuestros Peluditos</h1>
                        <p id="parrafo1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <div class="button_section"><a class="main_bt" href="#">Buy Now</a></div>
                        <div class="button_section"><a class="main_bt" href="#">Buy Now</a></div>
                </div>
            </div>
        </div>
</header>
{% endblock %}

{% block section %}
<div id="about" class="about layout_padding" style="background-image: url('../static/img/bannerBlanco.jpg'); background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="" src="../static/img/snausher.jpg" alt="#" style="width:60%; height:60%; margin-left:80px; margin-top:90px;"/>
                </div>
                <div class="col-md-6">
                    <div class="heading"  style="margin-top:40px; margin-left:55px;">
                        <h2>Ayúdanos</h2>
                    </div>
                    <div class="full">
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="heading"  style="margin-top:40px; margin-left:55px;">
                        <h2>¿Por qué adoptar una mascota con nostros?</h2>
                    </div>
                    <div class="full">
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img class="" src="../static/img/perroGato.png" alt="#" style="width:50%; height:70%; margin-left:80px; margin-top:90px; transform: rotate(-10deg);"/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div id="donar" style="background-color: grey;">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Donar</h2>
                <a href="#">
                <img class="" href="#" src="../static/img/dosPerros.png" alt="#" style="width:20%; height:60%; margin-left:80px; margin-top:90px;"/>
                </a>
            </div>
        </div>
    </div>
</div>


{% endblock %}
