{% extends 'base.html' %}

{% block head %} 
    <link rel="stylesheet" href="../static/css/frmDonationStyle.css"> 
    <title>Inicio</title> 
{% endblock %}
    
{% block content %}

    <form class="form-donation"> 
        <h2>Medios de pago:</h2>
            <select>
                <option class="seleccion" >Paypal</option>
                <option>Nequi</option>
                <option>Cuenta de ahorros</option>
            </select>

            <form class="form-register">
                <h2>Datos de pago:</h2>
                <input class="controls1" type="text" name="nombre" id= "nombre" placeholder="Nombre completo">
                <input class="controls2" type="email" name="correo" id= "correo" placeholder="ingrese su correo electronico">
                <input class="controls3" type="text" name="direccion" id= "direccion" placeholder=" direccion" >
                <input class="controls4" type="tel" name="telefono" id= "telefono" placeholder="telefono">
            </form>

            <a class="btn-primary" href="#" > enviar </a>
    </form>

 {% endblock %}