.capa{
    width: 150%;
    height: 90vh;
    /* border: 2px solid rgba(0, 0, 0, 0.5); */

}

.parrafo{
    margin-left: 700px;
    margin-top: -500px;
    z-index: 1;
    width: 500px;
    font-size: 20px;
    /* border: 1px solid rgba(255, 0, 0, 0.5); */
    /* font-size: 25px; */
}


#foto3{
  margin-left: 50px;
  margin-top:-1320px;
  border-radius: 30px;
}

#foto1{
  margin-left: 50px;
  margin-top: 300px;
  border-radius: 20px;
}



/* Estilos footer */
