*{
  box-sizing: border-box;
}

#container1{
    align-items: center;
}

#banner{
    width: 100%;
    min-height: 50vh;
    background-image:url("../img/gaticos.jpg");
    background-size: cover;
    background-position: center;

   }

h1 {
  text-align: center;
  color: white;
}

#parrafo1{
    text-align: center;
    color:whitesmoke;
    line-height: 50px;
    font-size: 30px;
    -webkit-text-stroke: 1.15pt black;
}

h2 {
       text-align: center;
       color: black;
   }

.borde{
    -webkit-text-stroke: 2px black;
}
