*{
  box-sizing: border-box;
}

/* body{
  display: flex;
  min-height: 100vh;
  background: #EFC076
} */

/* slider */
.container-slider{

}

.slider{

}

.slider__section{

}

.slider__img{

}

.slider__btn{

}

.slider__btn:hover{

}

.slider__btn--left
