*{
    margin: 0;
    padding: 0;
}
/* #container1{
    align-items: center;
}
#banner{
    width: 100%;
    min-height: 50vh;
    background-image:url("../img/señoragato.jpg");
    background-size: cover;
    background-position: center;

}  */
