*{
    margin: 0;
    padding: 0;
}

form.form-register {
    width: 900px;
    background: #9FD5D1;
    padding: 10px 250px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white; 
    box-shadow: 10px 14px 38px #000;
}

.form-register h1 {
    color: black;
    text-align: center;
    position: relative;
}

/* Menu */
.menu{
    list-style: none;
    background: #9FD5D1;
    font-family: 'calibri';
    width: 90%;
    max-width: 1100px;
    margin:0.50em auto;
    margin-top:-30px;                              
    
}

.menu li a{
    color: white;
    padding: 20px;
    display: block;
    text-decoration: none;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a:hover{
    background: #84A3FB;
}




/* Casillas de datos  */
.controls1 {
    width: 300px;
    height: 40px;
    border-radius: 6px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    font-family: 'calibri';
    font-size: 18px;
    float: left;
    background-color: white;
    margin: 10px -160px;
}

.controls2 {
    width: 300px;
    height: 40px;
    border-radius: 6px;
    margin-bottom: 16px;
    border: 1px solid #000000;
    font-family: 'calibri';
    font-size: 18px;
    float: right;
    display: inline;
    background-color: white;
    margin: 10px -110px;
}

.controls3 {
    width: 300px;
    height: 40px;
    border-radius: 6px;
    margin-bottom: 16px;
    border: 1px solid #000000;
    font-family: 'calibri';
    font-size: 18px;
    float: left;
    background-color: white;
    margin: 80px -163px;
}

.controls4 {
    width: 300px;
    height: 40px;
    border-radius: 6px;
    
    border: 1px solid #000000;
    font-family: 'calibri';
    font-size: 18px;
    float: left;
    background-color: white;
    margin:23px 211px;
}

.controles{
    width: 600px;
    height: 160px;
    border-radius: 6px;
    border: 1px solid #000000;
    font-family: 'calibri';
    font-size: 20px;
    background-color: white;
    margin:-40px -160px;
    margin-top: 10px;
    position: relative;
}

.form-register p {
   color: black;
   position:relative;
   margin-left: -160px;
}

.botons {
    width: 110px;
    border: none;
    padding: 12px;
    color: black;
    margin: 16px 0;
    font-size: 16px;
    box-shadow: 2px 9px 15px #000;
    background-color: #84A3FB;
    margin:40px 480px;
    margin-top: -50px;

}

/* Iconos */
.foot{
    background-color: #9FD5D1 ;
    margin: 50px auto;
    width: 900px;
    box-shadow: 10px 14px 38px #000;
}

.iconos{
    font-size: 50px;
    position: relative;
    left: 7.5em;
    padding: 0 5px 5px;
}

#facebook{
    color: rgb(0, 47, 255);
}

#facebook:hover{
    color: rgb(138, 179, 216);

}

#twitter{
    color: rgb(0, 153, 255);
}

#twitter:hover{
    color: rgb(138, 179, 216);
}

#instagram{
    color: white;
    background: linear-gradient(to right, orange, #ec38bc, #7303c0);
}

#instagram:hover{
    color: rgb(138, 179, 216);
}

.iconos2{
    font-size: 50px;
    position: relative;
    left: -0.5em;
}

.texto {
    font-size: 20px;
}

#telefono{
    color: black;
}

#telefono:hover{
    color: rgb(39, 35, 35);
}

#email{
    color:red;  
}

#email:hover{
    color:rgb(179, 66, 66);  
}


