*{
    margin: 0;
    padding: 0;
}
#container1{
    align-items: center;
}
#banner{
    width: 100%;
    min-height: 50vh;
    background-image:url("../img/tresGatos.jpg");
    background-size: cover;
    background-position: center;

   }

h1 {
       text-align: center;
       color: white;
   }

#parrafo1{
    text-align: center;
    color:whitesmoke;
    line-height: 50px;
    font-size: 30px;
    -webkit-text-stroke: 1.15pt black;
}

h2 {
       text-align: center;
       color: black;
   }

.borde{
    -webkit-text-stroke: 2px black;
}

#boton{
    width:170px;
    height:50px;
    background-image:url("../img/banner.jpg");
    margin: 10px;
    padding:10px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-size:15px;
    line-height:32px;
    position:static;
    text-align: center;
  }
  #boton:hover{
    opacity: 0.50;
    -moz-opacity: .50;
    filter:alpha (opacity=50);
  }
  #boton a{
    color:#fff;
    text-decoration:none;
    padding:5px 5px 5px 0;
  }







.controlsa {
    padding:10px;
    border-radius: 6px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    font-family:'calibri';
    font-size:20px;
    top:-200px;
    bottom:0px;
    margin: 30px 30px;
}

.controlsb {
    padding:10px;
    border-radius: 6px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    font-family:'calibri';
    font-size:20px;
    position:relative;
    margin: 30px -20px;
}

.controlsc {
    padding:10px;
    border-radius: 6px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    font-family:'calibri';
    font-size:20px;
    position:relative;
    top:-62px;
    bottom:0px;
    margin: -21px 520px;
}

p {
    font-size: 20px;
    right:-140px;
    font-family: 'lato',sans-serif;
    padding: 40px 50px;
 }

 .form-donation p {
    position: relative;
    top: auto;
    left: 20;
    display:block;
 }

.botons1 {
    background:#c8d6e5;
    color:#0A0A0A;
    margin:20px;
    width:300px;
    height:20px;
    margin:0px auto;
    padding: 15px 30px;
    text-align: center;
    box-shadow: 3px 3px 3px #000;
    margin: 5px 20px;
}

.controls1 {
    padding: 5px;
    border-radius: 6px;
    margin-bottom: 0px;
    border: 1px solid #000000;
    font-family:'calibri';
    font-size:20px;
    left: 30px;
    position:relative;
    margin: 2px 20px;
    top: 75px;
}

.botons4 {
    background:#c8d6e5;
    color:#0A0A0A;
    margin:20px;
    width:-5px;
    height:5px;
    margin:0px auto;
    padding: 15px 30px;
    text-align: center;
    box-shadow: 3px 3px 3px #000;
    position: relative;
    margin: 6px -15px;
}

.botonsA {
    background:#c8d6e5;
    color:#0A0A0A;
    width:300px;
    margin:30px;
    box-shadow: 3px 3px 3px #000;
    height: 200px;
    left: 22px;
    position: relative;
    top: -60px;
    padding: 15px 30px;
}

.botonsB {
    background:#c8d6e5;
    color:#0A0A0A;
    width:300px;
    margin:30px;
    box-shadow: 3px 3px 3px #000;
    height: 200px;
    left: 22px;
    position: relative;
    top: -60px;
    padding: 15px 30px;

}

.botonsC {
    background:#c8d6e5;
    color:#0A0A0A;
    width:300px;
    margin:30px;
    box-shadow: 3px 3px 3px #000;
    height: 200px;
    left: 50px;
    position: relative;
    top: 20px;
    padding: 15px 30px;

}

.botonsD {
    background:#c8d6e5;
    color:#0A0A0A;
    width:300px;
    margin:30px;
    box-shadow: 3px 3px 3px #000;
    height: 300px;
    left: 50px;
    position: relative;
    top: 20px;
    padding: 15px 30px;

}


.botonsJ {
    background:#c8d6e5;
    color:#0A0A0A;
    padding: 15px 30px;
    text-align: center;
    box-shadow: 3px 3px 3px #000;
    position: relative;
    margin: 0px 89px;
}

.botons3 {
    background:#c8d6e5;
    color:#0A0A0A;
    margin:20px;
    width:300px;
    height:20px;
    margin:0px auto;
    padding: 15px 30px;
    text-align: center;
    box-shadow: 3px 3px 3px #000;
    position: relative;
    margin: 5px 20px;
}

.controls2 {
    padding:10px;
    border-radius: 6px;
    margin-bottom: 10px;
    width:300px;
    height:50px;
    border: 1px solid #000000;
    font-family:'calibri';
    font-size:20px;
    position:relative;
    margin: -50px 30px;
}

.botons5 {
    background:#c8d6e5;
    color:#0A0A0A;
    margin:20px;
    width:-5px;
    height:5px;
    margin:0px auto;
    padding: 15px 30px;
    text-align: center;
    box-shadow: 3px 3px 3px #000;
    position: relative;
    margin: 5px -5px;
}

.menu{
    list-style: none;
    padding: 0;
    background: #9FD5D1;
    font-family: 'calibri';
    width: 90%;
    max-width: 1000px;
    margin:0.50em auto;

}
.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
    }
.menu li{
    display: inline-block;
    text-align: center;

}
.menu li a:hover{
    background: #84A3FB;
}

.parrafito2 {
    margin: 80px 20px;
 }


 .botonsA1 {
    background:#9eb2c9;
    color:#0A0A0A;
    width:300px;
    margin:35px;
    box-shadow: 3px 3px 3px #000;
    height: 200px;
    left: 90px;
    position: relative;
    top: 20px;
    padding: 15px 30px;
    border-radius: .25rem;
    text-decoration: none;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(.99);
        box-shadow: 0px 0px 0px #000;
    }
    70% {
        transform: scale(.1);
        box-shadow: 0px 0px 10px rgb(52, 54, 52);
    }
    100% {
        transform: scale(.99);
        box-shadow: 0px 0px 0px rgb(5, 5, 5);
    }
}

.botonsB2 {
    background:#9eb2c9;
    color:#0A0A0A;
    width:300px;
    margin:30px;
    box-shadow: 3px 3px 3px #000;
    height: 200px;
    left: 200px;
    position: relative;
    top: 20px;
    padding: 15px 30px;
    border-radius: .25rem;
    text-decoration: none;
    animation: pulse 1.5s infinite;

}

.botonsC3 {
    background:#c8d6e5;
    color:#0A0A0A;
    width:300px;
    margin:30px;
    box-shadow: 3px 3px 3px #000;
    height: 200px;
    left: 0px;
    position: relative;
    top: 20px;
    padding: 15px 30px;

}

.botonsD4 {
    background:#c8d6e5;
    color:#0A0A0A;
    width:300px;
    margin:30px;
    box-shadow: 3px 3px 3px #000;
    height: 300px;
    left: 22px;
    position: relative;
    top: 70px;
    padding: 15px 30px;

}

.parrafito {
    margin: 110px 20px;
 }

 .botonsH {
    background:#c8d6e5;
    color:#0A0A0A;
    padding: 15px 30px;
    text-align: center;
    box-shadow: 3px 3px 3px #000;
    position: relative;
    top: 70px;
    left: 20px;
}
