/* Estilos footer */
*{
    font-family: Franklin Gothic;
}

footer{
    width: 100%;
    padding: 50px 0px;
    background-image: url(../img/background-footer.svg);
    background-size: cover;

    /* background-color: #d0edf8ef;
    -webkit-mask-image: url(../img/background-footer.svg);
    mask-image: url(../img/background-footer.svg);
    -webkit-mask-size:cover;
    mask-size: cover; */
}

.container_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1750px;
    margin: auto;
    margin-top: 50px;
}

.box_footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box_footer .logo img{
    width: 180px;
    position: relative;
    left: 50px;
}

.box_footer .terms{
  max-width: 300px;
  margin-top: 10px;
  font-weight: 500;
  color: #7a7a7a;
  font-size: 10px;
}

.terms{
  max-width: 300px;
  margin-top: 10px;

  color: #7a7a7a;
  font-size: 10px;
}

.terms h2{
  margin-bottom: 30px;
  color: #343434;
  font-weight: 700;
}

.terms p{
    width: 450px;
    font-weight: 50;
    font-size: 18px;
}

.box_footer a{
  color: #7a7a7a;
  font-weight: 600;
  margin-top: 10px;
}

/* #Facebook{
    color: rgb(0, 47, 255);
}

#Instagram{
    color: white;
    background: linear-gradient(to right, orange, #ec38bc, #7303c0);
}

#Twitter{
    color: rgb(0, 153, 255);
} */

.box_footer a:hover{
  opacity: 0.8;
}

.box_footer a .fab{
  font-size: 20px;
}

.box_copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box_copyright p{
    margin-top:20px;
    color: #7a7a7a;
}

.box_copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}
