* {
  margin: 0;
  padding: 0;
}

div.bgForm {
  width: 480px;
  height: auto;
  background: #9fd5d1;
  padding: 40px;
  margin: auto;
  margin-top: 150px;
  border-radius: 4px;
  font-family: "calibri";
  color: black;
  box-shadow: 8px 14px 38px black;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
  color: black;
}

#usernamelbl {
  font-size: 25px;
  color: black;
  margin-bottom: 10px;
}

#passwordlbl {
  font-size: 25px;
  color: black;
  margin-bottom: 10px;
}

#btn {
  margin-right: 15px;
  margin-bottom: 5px;
}

p {
  font-size: 22px;
}

a.link-primary {
  margin-left: 5px;
  font-size: 22px;
}
