#encabezado{
  height: 100vh;
}

#cuadro1{
  border-radius: 20px;
  margin-top: 20px;
}

#div1{
  background-color: #F1F3F2;
  border-radius: 20px;

}

#mag1{
  border-radius: 20px;
  height: 680px;
}

#cuadro2{
  border-radius: 20px;
  margin-top: 20px;
}

#div2{
  background-color: #F1F3F2;
  border-radius: 20px;

}

#mag2{
  border-radius: 20px;
  height: 500px;
}

#cuadro3{
  border-radius: 20px;
  margin-top: 20px;
}

#div3{
  background-color: #F1F3F2;
  border-radius: 20px;
}

#mag3{
  border-radius: 20px;
  height: 500px;
}
