* {
  margin: 0;
  padding: 0;
}

div.bg-frm {
  width: 500px;
  height: auto;
  background: #cecece;
  padding: 50px;
  margin: auto;
  margin-top: 150px;
  border-radius: 4px;
  font-family: "calibri";
  color: black;
  box-shadow: 8px 14px 38px black;
}

h2 {
  font-size: 30px;
  margin-bottom: 25px;
  text-align: center;
  color: black;
}

div.form-group {
  font-size: 25px;
  color: black;
  margin-bottom: 20px;
}
