{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/ContactosWebanimal.css' %}">
        <title>Webanimal</title>
    </head>
    <body>
        <header>            
                <ul class="menu">
                    <img src="{% static 'images/LogoWebanimal.png' %}" height="90px" width="90px">
                    <li><a href="/pagina_inicio">Inicio</a></li>
                    <li><a href="/nosotros">Nosotros</a></li>
                    <li><a href="#">Noticias</a></li>
                    <li><a href="/contactosWebanimal">Contactos</a></li>
                    <li><a href="/donaciones">Donaciones</a></li> 
                    <li><a href="/login">Inicio Sesion</a></li>       
                </ul>
        </header>
        
        <form class="form-register">
            <h1>Contactanos</h1>
            <input class="controls1" type="text" name="nombre" id= "nombre" placeholder="Nombre completo">
            <input class="controls2" type="email" name="correo" id= "correo" placeholder="ingrese su correo electronico">
            <input class="controls3" type="text" name="asunto" id= "asunto" placeholder="asunto del que va a tratar" >
            <input class="controls4" type="tel" name="telefono" id= "telefono" placeholder="telefono">
            <input class="controles" type="text" name="mensaje" placeholder="mensaje...">
            <p>Tambien nos puedes contactar por:</p>
            <p>Tel:320376742</p>
            <p>E-mail:webanimal3152@gmail.com</p>
            <input class="botons" type="submit" value="enviar">

        </form>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    </body>
</html>
