<%-- 
    Document   : ContactosWebanimal
    Created on : 25/06/2021, 08:07:15 AM
    Author     : Usuario
--%>

<%@page contentType="text/html" pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="css\ContactosWebanimal.css">
        <title>Webanimal</title>
    </head>
    <body>
        <header>            
                <ul class="menu">
                    <img src = "../vista/Imagenes/LogoWebanimal.png" height="90px" width="90px">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Noticias</a></li>
                    <li><a href="#">Contactos</a></li>
                    <li><a href="#">Donaciones</a></li> 
                    <li><a href="#">Inicio Sesion</a></li>       
                </ul>
        </header>
        
        <form class="form-register">
            <h1>Contactanos</h1>
            <input class="controls1" type="text" name="nombre" id= "nombre" placeholder="Nombre completo">
            <input class="controls2" type="email" name="correo" id= "correo" placeholder="ingrese su correo electronico">
            <input class="controls3" type="text" name="asunto" id= "asunto" placeholder="asunto del que va a tratar" >
            <input class="controls4" type="tel" name="telefono" id= "telefono" placeholder="telefono">
            <input class="controles" type="text" name="mensaje" placeholder="mensaje...">
            <p>Tambien nos puedes contactar por:</p>
            <p>Tel:320376742</p>
            <p>E-mail:webanimal3152@gmail.com</p>
            <input class="botons" type="submit" value="enviar">

        </form>

    </body>
</html>
