{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/formularioAdopcion.css' %}">
        <title>Webanimal</title>
    </head>
        <header>
                <ul class="menu" >
        <body>
                    <img src="{% static 'images/LogoWebanimal.png' %}" height="90px" width="90px">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Noticias</a></li>
                    <li><a href="#">Contactos</a></li>
                    <li><a href="#">Donaciones</a></li> 
                    <li><a href="#">Inicio Sesion</a></li>       
                </ul>
        </header>
        
            <form class="form-register">
                <h1>Formulario de adopcion</h1>
                
                <p>Ingrese su nombre: </p>
                <input class="controls" type="text" name="nombre completo" id= "nombres" >
                
                <p>Ingrese su tipo de identificacion: </p>
                <input class="controls" type="text" name="tipo de identificacion" id= "tipoid">
                
                <p>Ingrese su numero de identificacion: </p>
                <input class="controls" type="number" name="numero de identificacion" id= "numeroid">
                
                <p>Ingrese su localidad en la que vive: </p>
                <input class="controls" type="text" name="localidad" id= "localidad">
                
                <p>Ingrese su barrio en el que vive: </p>
                <input class="controls" type="text" name="barrio" id= "barrio">
                
                <p>Ingrese su direccion: </p>
                <input class="controls" type="text" name="direccion" id= "direccion" >
                
                <p>ingrese su telefono: </p>
                <input class="controls" type="number" name="telefono" id= "telefono" >
                
                <p>ingrese su e-mail: </p>
                <input class="controls" type="text" name="mail" id= "mail" >
                
                <p>¿Porque desea adoptar?: </p>
                <input class="controls" type="text" name="porque desea adoptar" id= "porqueAdopta" >
                
                <p>¿Tiene vivienda propia o arrendada?: </p>
                <input class="controls" type="text" name="vivienda" id= "viviendaPoA" >
                
                <p>¿Cual es la ocupacion/profesion de la persona que asumira los gastos de la mascota?: </p>
                <input class="controls" type="text" name="ocupacion de la persona" id= "ocupacion" >
                
                <p>¿Anteriormente a tenido animales en casa? cual(es)? Que paso con ellos?: </p>
                <input class="controls" type="text" name="AnteriormenteAnimales" id= "AenCasa" >
                
                <p>¿Que tiempo dispone para compartir con el animal?: </p>
                <input class="controls" type="text" name="Tiempo de disponibilidad" id= "Tiempo" >
                
                
                
                <p>Estoy de acuerdo con <a href="#">Terminos y condiciones</a></p>
                
                <input class="botons" type="submit" value="Enviar Formulario">

            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    </body>
</html>
