<%-- 
    Document   : formulario
    Created on : 6/05/2021, 09:56:34 AM
    Author     : Janus
--%>

<%@page contentType="text/html" pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/cssformulario.css">
    <title>Webanimal</title>
</head>
<body>    
        <ul class="menu">
            <img src="/webanimal/vista/imagen/LogoWebanimal.png" height="90px" width="90px">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Noticias</a></li>
            <li><a href="#">Contactos</a></li>
            <li><a href="#">Donaciones</a></li>
        </ul>    
    <form class="form-register">
        <h4>Formulario Registro</h4>
        <input class="controls" type="text" name="nombres" id= "nombres" placeholder="Ingrese su nombre">
        <input class="controls" type="text" name="apellidos" id= "apellidos" placeholder="Ingrese su apellido">
        <input class="controls" type="email" name="correo" id= "correo" placeholder="Ingrese su correo">
        <input class="controls" type="password" name="correo" id= "correo" placeholder="Ingrese su contraseña">
        <p>Estoy de acuerdo con <a href="#">Terminos y condiciones</a></p>
        <input class="botons" type="submit" value="Registrarme">
        <p> <a href="/webanimal/vista/InicioSesion.jsp">¿Ya tengo cuenta?</a></p>
    </form>

</body>
</html>
