{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/cssformulario.css' %}">
        <title>Webanimal</title>
    </head>
    <body>
        <header>
            <nav class="menu">
                <ul>
                    <img src="{% static 'images/LogoWebanimal.png' %}" height="90px" width="90px">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Noticias</a></li>
                    <li><a href="#">Contactos</a></li>
                    <li><a href="#">Donaciones</a></li> 
                    <li><a href="#">Inicio Sesion</a></li>       
                </ul>
            </nav>
        </header>
        
            <section class="form-register">
                <h4>Formulario Registro</h4>
                <input class="controls" type="text" name="nombres" id= "nombres" placeholder="Ingrese su nombre">
                <input class="controls" type="text" name="apellidos" id= "apellidos" placeholder="Ingrese su apellido">
                <input class="controls" type="email" name="correo" id= "correo" placeholder="Ingrese su correo">
                <input class="controls" type="password" name="correo" id= "correo" placeholder="Ingrese su contraseña">
                <p>Estoy de acuerdo con <a href="#">Terminos y condiciones</a></p>
                <input class="botons" type="submit" value="Registrar">
                <p> <a href="#">¿Ya tengo cuenta?</a></p>

            </section>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    </body>
</html>
