{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/Nosotros.css' %}">
        <title>Webanimal</title>        
    </head>
    <body>
        <header>
            <nav class="menu">
                <ul>
                    <img src="{% static 'images/LogoWebanimal.png' %}" height="95px" width="95px">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Noticias</a></li>
                    <li><a href="#">Contactos</a></li>
                    <li><a href="#">Donaciones</a></li>                       
                </ul>
            </nav>
        </header>

        <section class="form-register"> 
            <form action ="/webanimal/IniciarSesion1"  method = "post">
                <h1>Inicio de sesion</h1>
                <label>Ingrese su correo</label>
                <input class="controls" type="email" name="correo" placeholder="Correo electronico">
                <label>Ingrese su contraseña</label>
                <input class="controls" type="password" name="password" placeholder="Contraseña">
                <p>¿Eres nuevo? <a href="/webanimal2/templates/formularioWebanimal.html">Registrate</a></p>
                <input class="botons" type="submit" value="Entrar">
                <p><a href="#">Recuperar contraseña</a></p>  
            </form>
        </section>            

    </body>
</html>
