<%-- 
    Document   : holamundojsp
    Created on : 6/05/2021, 09:36:29 AM
    Author     : Claudia Diaz
--%>

<%@page contentType="text/html" pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="css/IniciodeSesion.css">
        <title>Webanimal</title>        
    </head>
    <body>
        <header>
            <nav class="menu">
                <ul>
                    <img src="/webanimal/vista/imagen/LogoWebanimal.png" height="95px" width="95px">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Noticias</a></li>
                    <li><a href="#">Contactos</a></li>
                    <li><a href="#">Donaciones</a></li>                       
                </ul>
            </nav>
        </header>

        <section class="form-register"> 
            <form action ="/webanimal/IniciarSesion1"  method = "post">
                <h1>Inicio de sesion</h1>
                <label>Ingrese su correo</label>
                <input class="controls" type="email" name="correo" placeholder="Correo electronico">
                <label>Ingrese su contraseña</label>
                <input class="controls" type="password" name="password" placeholder="Contraseña">
                <p>¿Eres nuevo? <a href="/webanimal/vista/formulario.jsp">Registrate</a></p>
                <input class="botons" type="submit" value="Entrar">
                <p><a href="#">Recuperar contraseña</a></p>  
            </form>
        </section>            

    </body>
</html>
