<%-- 
    Document   : Nosotros
    Created on : 28/06/2021, 10:19:34 PM
    Author     : Usuario
--%>

<%@page contentType="text/html" pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="css\Nosotros.css">
        <title>Web Animal</title>
    </head>
    <body>
        <header>
            <ul class="menu">
                <img src = "../vista/Imagenes/LogoWebanimal.png" height="90px" width="90px">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Noticias</a></li>
                <li><a href="#">Contactos</a></li>
                <li><a href="#">Donaciones</a></li> 
                <li><a href="#">Inicio Sesion</a></li>       
            </ul>
        </header>
        
        <center>
        <form class="form-register">
            <h1>Nosotros</h1>
            <img src="../vista/Imagenes/LogoWebanimal.png" height="130px" width="130px">
                <div>
                    <p>Webanimal es una organizacion sin ánimo de lucro que busca dar un hogar amoroso,
                        rehabilitar y dar en adopción a perros que son rescatados en estado de indefensión y maltrato.</p>
                    <h2>Misión</h2>
                    <p>Los animales callejeros son vistos con desagrado y la mayoria son tratados con la peor manera, las 
                        cifras mas recientes del ultimo censo que fue en el 2017 en lugares como, Bogota, Cartagena, Medellin y cali,
                        seria de 2 millones aproximadamente sin considerar los animales que se encontraban en lugares de paso
                        ,especificamene perros y gatos. Por lo tanto el proposito de este proyecto es reducir las estadisticas de animales callejeros
                        con el fin de mejorar su condicion de vida, asi tambien encontrar un hogar en donde los cuiden y los valoren. </p>
                    <h2>Visión</h2>
                    <p>El alcance de este proyecto contara con la ubicacion de Bogota, localidad de Rafael Uribe Uribe, Barrio granjas de san pablo,
                        donde se encontrara la fundacion fisica y se espera finalizar en 2 años.
                        Se espera minimizar la poblacion de animales callejeros del 2020 al 2022, haciendo conocido el aplicativo web, asi tambien facilitando
                        el proceso de adopcion desde su hogar.</p>
                </div>
            </center>
    </body>
</html>
