*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../images/fondo.jpg');
    font-family: 'calibri';
}

.form-register {
    width: 900px;
    background: #9FD5D1;
    padding: 100px 100px;
    margin: 100px;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white; 
    box-shadow: 10px 14px 38px #000;
}

.menu{
    list-style: none;
    background: #9FD5D1;
    font-family: 'calibri';
    width: 100%;
    max-width: 1000px;
    margin:0.50em auto;
    margin-top:20px; 
}

.menu li a{
    color: white;
    padding: 20px;
    display: block;                 
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a:hover{
    background: #84A3FB;
}

p {
    font-size: 20px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}




